name: Codspeed

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  codspeed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.13
          cache: pip
          cache-dependency-path: uv.lock

      - name: Update packaging tools
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: Install dependencies
        run: python -m pip install .[tests]

      - uses: CodSpeedHQ/action@4348f634fa7309fe23aac9502e88b999ec90a164 # v4.3.1
        with:
          run: pytest tests/ --codspeed
          token: ${{ secrets.CODSPEED_TOKEN }}
