name: Codspeed

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  codspeed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13
          cache: pip
          cache-dependency-path: uv.lock

      - name: Update packaging tools
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: Install dependencies
        run: python -m pip install .[tests]

      - uses: CodSpeedHQ/action@346a2d8a8d9d38909abd0bc3d23f773110f076ad # v4.4.1
        with:
          run: pytest tests/ --codspeed
          token: ${{ secrets.CODSPEED_TOKEN }}
