name: Codspeed

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13
          cache: pip
          cache-dependency-path: uv.lock

      - name: Update packaging tools
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: Install dependencies
        run: python -m pip install .[tests]

      - uses: CodSpeedHQ/action@0700edb451d0e9f2426f99bd6977027e550fb2a6 # v4.7.0
        with:
          run: pytest tests/ --codspeed
          mode: "simulation"
