name: Python CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true
          resolution-strategy: "lowest"

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "pyproject.toml"

      - name: Sync dependencies
        run: uv sync --group dev --group tests

      - name: Run pre-commit
        run: uv run pre-commit run --all-files

      - name: Check formatting
        run: uv run ruff format --check .

      - name: Run Ruff checks
        run: uv run ruff check --output-format=github .

      - name: Run mypy
        run: uv run mypy --strict src/ tests/

      - name: Run tests
        run: uv run python -m coverage run -m pytest -v --junitxml=junit.xml

      - name: Create coverage report
        run: uv run coverage xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          use_oidc: true
